@import "tailwindcss";

:root {
  --background: #FFFAFF;
  --foreground: #1C0F13;
  --element-border: #4b7fb4;
  --element-bg: #336699;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.auth-navbar{
  border-top: none;
  box-shadow: 0px 3px 2px #dddd;
}